
canvas{
	background:url("https://static1.squarespace.com/static/548c9344e4b08a093ba313fd/t/56cfa6b020c647897cc48d5b/1456449200691/1-composition-with-variety-of-grocery-products-t-monticello.jpg?format=2500w&quot");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.clock-container{
	width:100%;
	height: 100%;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}

.clock {
	display: inline;
}